.gallery
  width 100%
  columns 2 auto
  column-gap 0.756rem
  @extend .nest-5
  @media (max-width: 960px)
    columns 1 auto
    margin-top 0

  br
    display none

.gallery-item
  width 100%
  display table
  a
    display block
  img
    border none
    display block
    width 100%
    height auto
