.post
  @extend .nest-4, .pad-b-5
  color inherit
  display block
  text-decoration none
  
.post-content
  @extend .nest-4
.post-image
  background whitesmoke
  background-size cover
  background-repeat no-repeat
  background-position center
  &:before
    content ''
    display block
    padding-top 100%

.post-title
  *
    letter-spacing 0.2em