.titlebar
  @extend .pad-h-3, .pad-v-4, .nest-3
  z-index 200
  background white
  position fixed
  top 0
  width 100%

.titlebar-logo
  img
    height 2.5em
    display block
  
.titlebar-nav
  @extend .nest-3
  text-transform uppercase
  letter-spacing 0.2em
  font-weight 500
  
  ul
    font-size 70%
    list-style none
    padding 0
    
  a
    text-decoration none