.titlebar
  @extend .pad-h-3, .pad-v-4, .nest-3
  z-index 200
  background white
  position fixed
  top 0
  width 100%
  text-transform uppercase
  letter-spacing 0.4em
  font-weight 500

.titlebar-logo
  img
    height 2.5em
    display block
  
.titlebar-nav
  @extend .nest-3
  
  ul
    font-size 75%
    list-style none
    padding 0