.article
  max-width 100em
  margin 0 auto
  @extend .nest-3, .pad-h-3, .pad-b-3

.article-header
  max-height 100vh
  min-height 75vh
  background-size cover
  img
    display none

.article-body
  @extend .nest-2

.article-body-main
  @extend .nest-4
  max-width 40em

.article-gallery
  null
