.article
  max-width 100em
  margin 0 auto
  @extend .nest-2, .pad-3

.article-header
  max-height 100vh
  min-height 75vh
  background-size cover
  img
    display none
.article-body
  null
.article-gallery
  null
