.articles
  
  &.-singleColumn
    @media (min-width: 800px)
      display none
      
    .article
      @extend .v-space-none

    .article-description
      @extend .pad-3

  &.-multiColumn
    @media (max-width: 800px)
      display none