.home
  null
  
.home-intro
  height 100vh
  background url('images/bg/intro-2.jpg')
  background-size cover
  background-position center
  color white
  
.home-intro-mark
  @extend .pad-2
  text-align center

.home-features
  null
  
.home-features-link
  white-space nowrap

.home-about
  background #fafafa

.home-contact
  null