@import 'nestle'

nestle(1.75, -1.5, include_wrapped: true)
@media (max-width: 800px)
  nestle(1.25, -1.5, include_wrapped: true)

@media (max-width: 800px)
  .grid.-break-max-small
    > .col
      display block
