// NEUTRALS
white     = #FFFFFF
off-white = #FCFCFC
black     = #444444
black_limpid = darken(rgba(black, 0.25), 20)
gray      = #F6F6F6
gray-dark = #484D5F

// COLORS
teal          = #3FB5A4
teal_limpid   = darken(rgba(teal, 0.25), 40)
violet        = #2E4599
violet_limpid = darken(rgba(violet, 0.25), 20)
red       = lighten(red, 30)

// Elements
nav-color = white