@import 'node_modules/nestle'

nestle(2, -1.75)
@media (max-width: 800px)
  nestle(1.5, -1.5)

html
  font 87.5%/1.4 'Georgia'
  -webkit-font-smoothing antialiased
  
h1
h2
h3
h4
h5
h6
  font-weight normal

.content
  max-width 80em
  margin-right: auto
  margin-left: auto
  
  &.-header
    @extend .pad-h-3, .pad-v-4, .nest-3

  &.-body
    @extend .pad-3, .nest-3
    @media (max-width: 800px)
      display none
    
    .col
      @extend .nest-3
      

.header
  background-color rgba(#FFF, 0.95)
  position sticky
  top 0
  z-index 100
  img
    width 4em

.posts
  
  &.-hidden
    @media (min-width: 800px)
      display none
      
    .post
      @extend .v-space-none

    .post-title
      @extend .pad-3

.post
  display block
  @extend .nest-4

.post-image
  img
    width 100%

    
@media (max-width: 800px)
  .grid-items
    @extend .nest-3
    
.post-title
  @extend .nest-5
  position relative
  z-index 1
    
.scale
  *
    outline 1px solid black