@import 'node_modules/nestle'

nestle(2, -1.75)
@media (max-width: 800px)
  nestle(1.5, -1.5)

html
  font 87.5%/1.4 'Georgia'
  -webkit-font-smoothing antialiased
  
h1
h2
h3
h4
h5
h6
  font-weight normal
  
.grid
  &:nth-child(3n-2)
    .post 
      &:nth-child(1)
        width 45%
  &:nth-child(3n-1)
    .post 
      &:nth-child(2)
        width 45%
  &:nth-child(3n)
    .post 
      &:nth-child(3)
        width 45%

svg
  display table
  border-spacing 0
  vertical-align middle
  width 3.5em
  @media (max-width: 800px)
    width 3em

.content
  max-width 80em
  margin-right: auto
  margin-left: auto
  
  &.-header
    @extend .pad-h-3, .pad-v-4, .nest-3

  &.-body
    @extend .pad-3, .nest-3
    padding-top: 0

.header
  background-color rgba(#FFF, 0.98)
  position sticky
  top 0
  z-index 100

.post
  @extend .pad-4
  position relative
  background-color #fafafa
  background-size cover
  background-repeat no-repeat
  &:before
    content ''
    display block
    padding-top 50%
  box-shadow inset 0 -12em 10em -10em rgba(black, 0.75)

.post
  @media (max-width: 800px)
    display block
    width: 100% !important
    
@media (max-width: 800px)
  .grid-items
    @extend .nest-3
    
.post-title
  position relative
  color white
  z-index 1
    
.scale
  *
    outline 1px solid black