doctype 
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no, width=device-width")
    block title
    link(rel='stylesheet', href='index.css')
    script(src="../bower_components/Stickyfill/dist/stickyfill.min.js")
    block scripts

  body

    //- Header
    .section.-header.sticky
      .section-content

        nav
          ul.grid.align-middle.spaced.inline: .grid-items
            li.col
              a(href="/out/")
                img.logo.-small(src='images/logo-shf.svg')
            li.col About
            li.col Contact
            li.col
              a(href='/out/articles.html') Articles
    
    //- Main Content
    main
      block content
        